<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Screen shot</title>
</head>
<body>
<div class="bg">
  <div class="name">Tung Nguyen</div>
  <div class="score">15.487</div>
</div>
<style>
  @font-face {
    font-family: "Clear Sans";
    src: url("ClearSans-Light-webfont.eot");
    src: url("ClearSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
    url("ClearSans-Light-webfont.svg#clear_sans_lightregular") format("svg"),
    url("ClearSans-Light-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Clear Sans";
    src: url("ClearSans-Regular-webfont.eot");
    src: url("ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("ClearSans-Regular-webfont.svg#clear_sansregular") format("svg"),
    url("ClearSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Clear Sans";
    src: url("ClearSans-Bold-webfont.eot");
    src: url("ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("ClearSans-Bold-webfont.svg#clear_sansbold") format("svg"),
    url("ClearSans-Bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }


  .bg {
    width: 525px;
    height: 275px;
    background: url('http://ohmyidol.com/idols/sontung/bg.jpg');
    background-size: cover;
    background-position: center;
    display: block;
    text-align: center;
    position: relative;
  }
  .name {
    padding-top: 60px;
    font-size: 50px;
  }
  .score {
    font-size: 70px;
    margin-top: 10px;
  }
  .name, .score {
    color: #fff;
    text-shadow: 1px 1px 10px #fff;
    font-family:"Clear Sans", "Helvetica Neue", Arial, sans-serif;
  }
</style>
</body>
</html>
